# Copy this file to .env (do not commit .env to git).
# Set GOOGLE_APPLICATION_CREDENTIALS to the absolute path of your service account JSON file.
# Example:
# GOOGLE_APPLICATION_CREDENTIALS=/home/youruser/.secrets/at-project-474409.json
# GOOGLE_CLOUD_PROJECT=/add-your-google-cloud-project-id-here
# GOOGLE_CLOUD_LOCATION=/add-your-google-cloud-location-here
# GOOGLE_GENAI_USE_VERTEXAI=/add-1-to-use-vertex-ai-or-0-to-use-genai-api
# GOOGLE_API_KEY=/add-your-google-api-key-here
# AGENTOPS_API_KEY=/add-your-agentops-api-key-here


# NB: you might want to move the .env file to specific folder to test different agents
# use secret manager to manage your secrets and set the environment variables in your terminal before running the agent.
