
# Python virtual environments
.venv/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# PyTest cache
.pytest_cache/

# Environment files (may contain secrets)
.env
*.env

# Sensitive credentials (service account keys)
*.json

# VS Code
.vscode/

# Docker
*.dockerignore

